.left{
    height:700px;
}
.right{
    height:700px;
}
.content1{
    margin-top: 50px;
    margin-left: 250px;
    width:900px;
    height:600px;
   
    
}
.enterprise{
    margin-left: 30px;
    margin-bottom: 30px;
    width:270px;
    height:250px;
    background: write;
    float: left;
}
